.main-header{
    display: flex;
    justify-content: space-between;
    padding: 1rem .5rem;
}

@media screen and (min-width:600px) {
    .header-logo{
        padding: 1rem;
    }
    .header-logo-btn img{
        display: none;
    }
    
}